body{
  display:flex;
 justify-content: center;
 align-items: center;


}
.Mypage{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FBF4D7;
  padding:100px;
  border-radius: 10px;
}
.Mypage-tbody{
 display:flex;
 justify-content: center;
 align-items: center;

  margin-bottom:20px;
  border:1px solid #51424E;
  width:500px;
}
.name{
  width:40px;
  border-right:1px solid #51424E;
  border-bottom:1px solid #51424E;
  color:#51424E;
}
.content{
  width:550px;
  padding:10px;
  border-bottom:1px solid #51424E;
  border-right:1px solid #51424E;
  color:#51424E;
  
}
.textArea{
  border-right:1px solid #51424E;
  padding:20px;
  color:#51424E;
}
span{
  width:50px;
  color:#51424E;
  
}
.reading{
  margin-top:30px;
}
.none{
  display: none;
}

@media only screen and (max-width:768px){
  .Mypage{
    width:35%;
    display: flex;
    justify-content: center;
    text-align: center;
  
  }
  .Mypage-tbody{
    width:290px;
  }
}