.qt-area{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qt-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: #FBF4D7;
  width:700px;
  height:700px;
  padding:50px 100px 50px 70px;
color:#51424E;
 margin-top:80px;

  
}
input{
  width:100%;
  height:20px;
  margin-top:10px;
  width:130%;
  border-radius: 5px;
  padding:5px;
  border:none;
  
}
textarea{
  width:130%;
 margin-top:20px;
  font-size:20px;
 
}

.group-spacing{
  margin-top:20px;
}

.label-spacing{
  margin-left:60px;
}
button{
  width:100px;
  height:50px;
  margin-top:40px;
  margin-left:90px;
  margin-bottom:10px;
  background-color:#51424E;
  color:#FBF4D7;

}
.goHome a{
  color:#51424E;
  text-decoration-line: none;
  font-weight:700;

}